.header{
    position: absolute;
    background: #094A6C;
    margin-bottom: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
}
.header__navigation{
    width: 711px;
    height: 52px;
}
.header__list{
    padding-top: 16px;
    padding-left: 12px;
    margin-left:47px;
    margin-right:682px;
    display: flex;
    align-items: flex-start;
}
.header__item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    height: 21px;
    margin-right:56px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__item:last-child{
    padding-bottom: 15px;
    margin-left: 54px;
    color: aquamarine;
}
.header__item a:hover{
    color: #7FD0FB;
    border-bottom: 3px solid #7FD0FB;
    padding-bottom: 14px;
}
.header__item a.active{
    color: #FFFFFF;
    padding-bottom: 14px;
    border-bottom: 3px solid #FFFFFF;
}
.header__item__sub a{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    height: 21px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__item__sub a.active{
    color: #7FD0FB;
    border-bottom: 3px solid #7FD0FB;
    padding-bottom: 14px;
}
.dropdown__arrow {
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin: 7px 0px 0px 12px;
    color: #7FD0FB;
}
nav ul ul{
    position: absolute;
    padding: 0px 0px 0px 0px;
    top: 50px;
    display: none;
}
nav ul li:hover > ul{
    width: 210px;
    height: 130px; 
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
}
nav ul ul li{
    width: 210px;
    height: 38px;
    float: none;
    padding: 0px 0px 8px 0px;
    display: list-item;
    position: relative;
}
.sub__header__list{
    padding: 8px 0px 0px 20px;
}
.sub__header__list .sub__header__link{
    color: #424242;
    font-size: 16px;
    line-height: 130%;
}
.sub__header__list .sub__header__link:hover{
    display: block;
    width: 210px;
    height: 38px;
    margin: 0px 0px 0px -20px;
    padding: 0px 0px 0px 20px;
    background: #EEEEEE;
    border-radius: 4px 4px 0px 0px;
}